.idea

# macOS
.DS_Store

# server
node_modules
public/assets
.version
compress.csv
storage

###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
###< symfony/phpunit-bridge ###
public/coverage
###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###
